html{
    scroll-behavior: smooth;
  }
body {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.fancyvrb{
  border: gray 1px solid;
}



/* sidenav*/

.sidenav {
  color: #000000;
  height: 100vh; 
  width: 0px; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0px;
  background-color: #000000; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: .5s;
  /*opacity:0.5;*/
  
}

.sidenav a, .dropdown-btn {
  padding: 10px 10px 10px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #e6e6e6;
  display: block;
  background: none;
  transition: 0.4s;
  
  
}
.dropdown-btn{
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #e6e6e6;
  display: block;
  background: none;
  width: 100%;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover{
    background-color: #ddd;
    color: black;
}


.sidenav .closebtn {
  position:absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  padding-right:20px;
  padding-left:20px;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}


.bouton {
    position: fixed;
    display: flex;
    /*height: 100vh;*/
    padding: 10px 20px;
    top: 0px;
    left: 0px;
    justify-content: center;
    background-color: #000000 ;
    color: #ffffff;
    border-radius: 0px;
    text-decoration: none;
    vertical-align: middle;

}  
@media screen and (max-width: 700px) 
{
  .sidenav a {font-size: 18px;}
  
}
@media screen and (max-width: 400px) {
  .sidenar a {
    text-align: center;
    float: none;
  }
}

.home-button {
  display: block;
  width: 18px;
  margin-left: auto;
  margin-right: auto;
}
.sidenav * {
  color: #000000;
  
}

.sidebar-deployed{
  width: 400px;
}
.sidebar-deployed * {
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .sidebar-deployed{
    width: 100%;
  } 
}
#font{
  font-size:30px;
  cursor:pointer;
}

/* /sidenav*/
