html {
    scroll-behavior: smooth;
}
* {
    box-sizing: content-box;
}
.centre {
    text-align: center;
}
h2 {
    text-indent: 1em;
}

.floatRight {
    float: right;
    margin: 5px;
}
@media screen and (max-width: 700px) {
    .floatRight {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #368ea8;
    font-family: sans-serif;
    /*font-family: Andale mono, monospace; */
    /*je trouve le sans-serif plus lisible  */
    /*padding-left: 5%;   */
}

.header {
    padding: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sidenav {
    color: #000000;
    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    /*opacity:0.5;*/
}

.sidenav a,
.btn {
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #e6e6e6;
    display: block;
    background: none;
    transition: 0.4s;
}
.btn {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #e6e6e6;
    display: block;
    background: none;
    width: 100%;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover,
.btn:hover {
    background-color: #ddd;
    color: black;
}

#main {
    transition: margin-left 0.5s;

    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}
.content {
    padding: 30px;
    margin-bottom: 100px;
    background-color: #cde0e6;
    box-shadow: 0 5px 25px #0003;
    border-radius: 1px;
    margin-left: 15px;
    margin-right: 15px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.dropdown-container {
    background-color: #262626;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.bouton {
    position: fixed;
    display: flex;
    /*height: 100vh;*/
    padding: 10px 20px;
    top: 0px;
    left: 0px;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px;
    text-decoration: none;
    vertical-align: middle;
}
@media screen and (max-width: 700px) {
    .sidenav a {
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    .sidenar a {
        text-align: center;
        float: none;
    }
}
h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

h4 {
    padding: 5% 5%;
}

.home-button {
    display: block;
    width: 18px;
    margin-left: auto;
    margin-right: auto;
}

.full-page {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    min-width: 770px;
}

#font {
    font-size: 30px;
    cursor: pointer;
}

.sidenav * {
    color: #000000;
}

.sidebar-deployed {
    width: 400px;
}
.sidebar-deployed * {
    color: #ffffff;
}

@media only screen and (max-width: 500px) {
    .sidebar-deployed {
        width: 100%;
    }
}

.top-corner {
    transition: 0.5s;
    font-size: 1em;
    text-indent: 0;
    margin: 0;
    padding: 18px;
    position: fixed;
    top: 60px;
    left: 0px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    opacity: 1;
}
@media only screen and (max-width: 1300px) {
    .top-corner {
        top: 0px;
        left: 60px;
    }
}
.hidden {
    opacity: 0;
}
.zoomable {
    width: 300px;
}
.zoomable:hover {
    width: 100%;
}

iframe {
    width: 100%;
    border: hidden;
}
.center {
    text-align: center;
}

.trans {
    transition: max-height 2s cubic-bezier(1, 0, 0, 1);
    overflow: hidden;
    max-height: 15000px;
}
.cache {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}
img:not(.par-math-display):not(.math):not(.math-display):not(.graphics):not(.frac) {
    width: 100%;
    height: auto;
}
.fancyvrb {
    background-color: rgb(223, 223, 223);
    padding: 5px;
}
a {
    color: inherit;
    text-decoration: none;
}
h3{

    margin-top: 5em;
}
.partHead{
    margin-top: 5em;
    width: 100%;
    text-align: center;
}
.tableofcontents {
    margin-bottom: 15em;
    padding: 10px;
    background-color: whitesmoke;
}

@media only screen and (max-width: 900px) {
    #main{
        min-width: 770px;
    }
}
