 
/* start css.sty */
.cmr-7{font-size:70%;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-7{font-size:70%;}
.ecrm-2074{font-size:200%;}
.ecrm-1200{font-size:120%;}
.ecbx-1200{font-size:120%; font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ectt-1000{ font-family: monospace;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecrm-0900{font-size:90%;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecrm-0500{font-size:50%;}
.ecrm-0800{font-size:80%;}
.ectt-0800{font-size:80%; font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.ectt-0800{ font-family: monospace;}
.cmmi-8{font-size:80%;font-style: italic;}
.cmsy-8{font-size:80%;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
.ecit-1000{ font-style: italic; font-family: monospace;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.rotatebox{display: inline-block;}
.figure img.graphics {margin-left:10%;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
div.array {text-align:center;}
div.verbatiminput {font-family: monospace; white-space: nowrap; }
P.fancyvrb {white-space: nowrap; margin:0em;}
.framedenv{border: 1px solid black;}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
span#textcolor1{color:rgb(101,101,101)}
span#textcolor2{color:rgb(175,0,63)}
span#textcolor3{color:rgb(101,101,101)}
span#textcolor4{color:rgb(101,101,101)}
span#textcolor5{color:rgb(0,127,0)}
span#textcolor6{color:rgb(175,0,63)}
span#textcolor7{color:rgb(101,101,101)}
span#textcolor8{color:rgb(101,101,101)}
span#textcolor9{color:rgb(101,101,101)}
span#textcolor10{color:rgb(101,101,101)}
span#textcolor11{color:rgb(175,0,63)}
span#textcolor12{color:rgb(175,0,63)}
span#textcolor13{color:rgb(0,0,255)}
span#textcolor14{color:rgb(101,101,101)}
span#textcolor15{color:rgb(0,127,0)}
span#textcolor16{color:rgb(175,0,63)}
span#textcolor17{color:rgb(101,101,101)}
span#textcolor18{color:rgb(101,101,101)}
span#textcolor19{color:rgb(101,101,101)}
span#textcolor20{color:rgb(101,101,101)}
span#textcolor21{color:rgb(101,101,101)}
span#textcolor22{color:rgb(101,101,101)}
span#textcolor23{color:rgb(101,101,101)}
span#textcolor24{color:rgb(101,101,101)}
span#textcolor25{color:rgb(101,101,101)}
span#textcolor26{color:rgb(101,101,101)}
span#textcolor27{color:rgb(101,101,101)}
span#textcolor28{color:rgb(101,101,101)}
span#textcolor29{color:rgb(101,101,101)}
span#textcolor30{color:rgb(101,101,101)}
span#textcolor31{color:rgb(101,101,101)}
span#textcolor32{color:rgb(101,101,101)}
span#textcolor33{color:rgb(101,101,101)}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
span#textcolor34{color:rgb(101,101,101)}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-5 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-5{border-collapse:collapse;}
#TBL-5 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-5{border-collapse:collapse;}
#TBL-5 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-5{border-collapse:collapse;}
#TBL-5 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-5{border-collapse:collapse;}
#TBL-5 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-5{border-collapse:collapse;}
#TBL-5 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-5{border-collapse:collapse;}
#TBL-6 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-6{border-collapse:collapse;}
#TBL-6 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-6{border-collapse:collapse;}
#TBL-6 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-6{border-collapse:collapse;}
#TBL-6 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-6{border-collapse:collapse;}
#TBL-6 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-6{border-collapse:collapse;}
#TBL-6 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-6{border-collapse:collapse;}
#TBL-7 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-7{border-collapse:collapse;}
#TBL-7 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-7{border-collapse:collapse;}
#TBL-7 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-7{border-collapse:collapse;}
#TBL-7 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-7{border-collapse:collapse;}
#TBL-7 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-7{border-collapse:collapse;}
#TBL-7 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-7{border-collapse:collapse;}
#TBL-8 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-8{border-collapse:collapse;}
#TBL-8 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-8{border-collapse:collapse;}
#TBL-8 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-8{border-collapse:collapse;}
#TBL-8 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-8{border-collapse:collapse;}
#TBL-8 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-8{border-collapse:collapse;}
#TBL-8 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-8{border-collapse:collapse;}
span#textcolor35{color:rgb(175,0,63)}
span#textcolor36{color:rgb(0,0,255)}
span#textcolor37{color:rgb(101,101,101)}
span#textcolor38{color:rgb(101,101,101)}
span#textcolor39{color:rgb(101,101,101)}
span#textcolor40{color:rgb(175,0,63)}
span#textcolor41{color:rgb(101,101,101)}
span#textcolor42{color:rgb(0,127,0)}
span#textcolor43{color:rgb(175,0,63)}
span#textcolor44{color:rgb(101,101,101)}
span#textcolor45{color:rgb(101,101,101)}
span#textcolor46{color:rgb(101,101,101)}
span#textcolor47{color:rgb(101,101,101)}
span#textcolor48{color:rgb(101,101,101)}
span#textcolor49{color:rgb(101,101,101)}
span#textcolor50{color:rgb(101,101,101)}
span#textcolor51{color:rgb(101,101,101)}
span#textcolor52{color:rgb(101,101,101)}
span#textcolor53{color:rgb(101,101,101)}
span#textcolor54{color:rgb(101,101,101)}
span#textcolor55{color:rgb(101,101,101)}
span#textcolor56{color:rgb(101,101,101)}
span#textcolor57{color:rgb(101,101,101)}
span#textcolor58{color:rgb(101,101,101)}
span#textcolor59{color:rgb(101,101,101)}
span#textcolor60{color:rgb(101,101,101)}
span#textcolor61{color:rgb(101,101,101)}
#TBL-9 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-9{border-collapse:collapse;}
#TBL-9 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-9{border-collapse:collapse;}
#TBL-9 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-9{border-collapse:collapse;}
#TBL-9 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-9{border-collapse:collapse;}
span#textcolor62{color:rgb(101,101,101)}
#TBL-10 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-10{border-collapse:collapse;}
#TBL-10 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-10{border-collapse:collapse;}
#TBL-10 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-10{border-collapse:collapse;}
#TBL-10 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-10{border-collapse:collapse;}
#TBL-11 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-11{border-collapse:collapse;}
#TBL-11 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-11{border-collapse:collapse;}
#TBL-11 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-11{border-collapse:collapse;}
#TBL-11 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-11{border-collapse:collapse;}
#TBL-11 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-11{border-collapse:collapse;}
#TBL-11 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-11{border-collapse:collapse;}
#TBL-12 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-12{border-collapse:collapse;}
#TBL-12 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-12{border-collapse:collapse;}
#TBL-12 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-12{border-collapse:collapse;}
#TBL-12 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-12{border-collapse:collapse;}
#TBL-12 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-12{border-collapse:collapse;}
#TBL-12 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-12{border-collapse:collapse;}
#TBL-13 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-13{border-collapse:collapse;}
#TBL-13 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-13{border-collapse:collapse;}
#TBL-13 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-13{border-collapse:collapse;}
#TBL-13 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-13{border-collapse:collapse;}
#TBL-13 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-13{border-collapse:collapse;}
#TBL-13 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-13{border-collapse:collapse;}
#TBL-14 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-14{border-collapse:collapse;}
#TBL-14 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-14{border-collapse:collapse;}
#TBL-14 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-14{border-collapse:collapse;}
#TBL-14 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-14{border-collapse:collapse;}
#TBL-14 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-14{border-collapse:collapse;}
#TBL-14 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-14{border-collapse:collapse;}
#TBL-15 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-15{border-collapse:collapse;}
#TBL-15 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-15{border-collapse:collapse;}
#TBL-15 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-15{border-collapse:collapse;}
#TBL-15 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-15{border-collapse:collapse;}
#TBL-15 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-15{border-collapse:collapse;}
#TBL-15 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-15{border-collapse:collapse;}
#TBL-16 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-16{border-collapse:collapse;}
#TBL-16 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-16{border-collapse:collapse;}
#TBL-16 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-16{border-collapse:collapse;}
#TBL-16 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-16{border-collapse:collapse;}
span#textcolor63{color:rgb(0,127,0)}
span#textcolor64{color:rgb(175,0,63)}
span#textcolor65{color:rgb(101,101,101)}
span#textcolor66{color:rgb(101,101,101)}
span#textcolor67{color:rgb(101,101,101)}
span#textcolor68{color:rgb(101,101,101)}
span#textcolor69{color:rgb(101,101,101)}
span#textcolor70{color:rgb(175,0,63)}
span#textcolor71{color:rgb(0,0,255)}
span#textcolor72{color:rgb(101,101,101)}
span#textcolor73{color:rgb(101,101,101)}
span#textcolor74{color:rgb(101,101,101)}
span#textcolor75{color:rgb(175,0,63)}
span#textcolor76{color:rgb(101,101,101)}
span#textcolor77{color:rgb(0,127,0)}
span#textcolor78{color:rgb(175,0,63)}
span#textcolor79{color:rgb(101,101,101)}
span#textcolor80{color:rgb(101,101,101)}
span#textcolor81{color:rgb(101,101,101)}
span#textcolor82{color:rgb(101,101,101)}
span#textcolor83{color:rgb(101,101,101)}
span#textcolor84{color:rgb(101,101,101)}
span#textcolor85{color:rgb(101,101,101)}
span#textcolor86{color:rgb(101,101,101)}
span#textcolor87{color:rgb(101,101,101)}
span#textcolor88{color:rgb(101,101,101)}
span#textcolor89{color:rgb(101,101,101)}
span#textcolor90{color:rgb(101,101,101)}
span#textcolor91{color:rgb(101,101,101)}
span#textcolor92{color:rgb(101,101,101)}
span#textcolor93{color:rgb(101,101,101)}
span#textcolor94{color:rgb(101,101,101)}
span#textcolor95{color:rgb(101,101,101)}
#TBL-17 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-17{border-collapse:collapse;}
#TBL-17 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-17{border-collapse:collapse;}
#TBL-17 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-17{border-collapse:collapse;}
#TBL-17 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-17{border-collapse:collapse;}
span#textcolor96{color:rgb(101,101,101)}
#TBL-18 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-18{border-collapse:collapse;}
#TBL-18 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-18{border-collapse:collapse;}
#TBL-18 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-18{border-collapse:collapse;}
#TBL-18 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-18{border-collapse:collapse;}
#TBL-19 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-19{border-collapse:collapse;}
#TBL-19 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-19{border-collapse:collapse;}
#TBL-19 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-19{border-collapse:collapse;}
#TBL-19 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-19{border-collapse:collapse;}
#TBL-20 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-20{border-collapse:collapse;}
#TBL-20 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-20{border-collapse:collapse;}
#TBL-20 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-20{border-collapse:collapse;}
#TBL-20 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-20{border-collapse:collapse;}
#TBL-21 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-21{border-collapse:collapse;}
#TBL-21 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-21{border-collapse:collapse;}
#TBL-21 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-21{border-collapse:collapse;}
#TBL-21 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-21{border-collapse:collapse;}
span#textcolor97{color:rgb(175,0,63)}
span#textcolor98{color:rgb(0,0,255)}
span#textcolor99{color:rgb(175,0,63)}
span#textcolor100{color:rgb(175,0,63)}
span#textcolor101{color:rgb(175,0,63)}
span#textcolor102{color:rgb(101,101,101)}
span#textcolor103{color:rgb(101,101,101)}
span#textcolor104{color:rgb(0,127,0)}
span#textcolor105{color:rgb(101,101,101)}
span#textcolor106{color:rgb(0,127,0)}
span#textcolor107{color:rgb(101,101,101)}
span#textcolor108{color:rgb(101,101,101)}
span#textcolor109{color:rgb(101,101,101)}
span#textcolor110{color:rgb(0,127,0)}
span#textcolor111{color:rgb(101,101,101)}
span#textcolor112{color:rgb(101,101,101)}
span#textcolor113{color:rgb(101,101,101)}
span#textcolor114{color:rgb(101,101,101)}
span#textcolor115{color:rgb(101,101,101)}
span#textcolor116{color:rgb(101,101,101)}
span#textcolor117{color:rgb(101,101,101)}
span#textcolor118{color:rgb(63,127,127)}
span#textcolor119{color:rgb(0,127,0)}
span#textcolor120{color:rgb(101,101,101)}
span#textcolor121{color:rgb(101,101,101)}
span#textcolor122{color:rgb(101,101,101)}
span#textcolor123{color:rgb(101,101,101)}
span#textcolor124{color:rgb(0,127,0)}
span#textcolor125{color:rgb(175,0,63)}
span#textcolor126{color:rgb(101,101,101)}
span#textcolor127{color:rgb(101,101,101)}
span#textcolor128{color:rgb(101,101,101)}
span#textcolor129{color:rgb(63,127,127)}
span#textcolor130{color:rgb(101,101,101)}
span#textcolor131{color:rgb(101,101,101)}
span#textcolor132{color:rgb(63,127,127)}
span#textcolor133{color:rgb(175,0,63)}
span#textcolor134{color:rgb(101,101,101)}
span#textcolor135{color:rgb(101,101,101)}
span#textcolor136{color:rgb(63,127,127)}
span#textcolor137{color:rgb(101,101,101)}
span#textcolor138{color:rgb(63,127,127)}
span#textcolor139{color:rgb(175,0,63)}
span#textcolor140{color:rgb(101,101,101)}
span#textcolor141{color:rgb(63,127,127)}
span#textcolor142{color:rgb(101,101,101)}
span#textcolor143{color:rgb(63,127,127)}
span#textcolor144{color:rgb(101,101,101)}
span#textcolor145{color:rgb(63,127,127)}
span#textcolor146{color:rgb(101,101,101)}
span#textcolor147{color:rgb(63,127,127)}
span#textcolor148{color:rgb(101,101,101)}
span#textcolor149{color:rgb(63,127,127)}
span#textcolor150{color:rgb(101,101,101)}
span#textcolor151{color:rgb(101,101,101)}
span#textcolor152{color:rgb(63,127,127)}
span#textcolor153{color:rgb(101,101,101)}
span#textcolor154{color:rgb(63,127,127)}
span#textcolor155{color:rgb(0,127,0)}
span#textcolor156{color:rgb(0,127,0)}
span#textcolor157{color:rgb(0,127,0)}
span#textcolor158{color:rgb(101,101,101)}
span#textcolor159{color:rgb(101,101,101)}
span#textcolor160{color:rgb(101,101,101)}
span#textcolor161{color:rgb(101,101,101)}
span#textcolor162{color:rgb(101,101,101)}
span#textcolor163{color:rgb(101,101,101)}
span#textcolor164{color:rgb(101,101,101)}
span#textcolor165{color:rgb(101,101,101)}
span#textcolor166{color:rgb(101,101,101)}
span#textcolor167{color:rgb(101,101,101)}
span#textcolor168{color:rgb(101,101,101)}
span#textcolor169{color:rgb(101,101,101)}
span#textcolor170{color:rgb(101,101,101)}
span#textcolor171{color:rgb(101,101,101)}
span#textcolor172{color:rgb(101,101,101)}
span#textcolor173{color:rgb(101,101,101)}
span#textcolor174{color:rgb(101,101,101)}
span#textcolor175{color:rgb(101,101,101)}
span#textcolor176{color:rgb(101,101,101)}
span#textcolor177{color:rgb(101,101,101)}
span#textcolor178{color:rgb(101,101,101)}
span#textcolor179{color:rgb(101,101,101)}
span#textcolor180{color:rgb(101,101,101)}
span#textcolor181{color:rgb(101,101,101)}
span#textcolor182{color:rgb(101,101,101)}
span#textcolor183{color:rgb(101,101,101)}
span#textcolor184{color:rgb(101,101,101)}
span#textcolor185{color:rgb(101,101,101)}
span#textcolor186{color:rgb(101,101,101)}
span#textcolor187{color:rgb(101,101,101)}
span#textcolor188{color:rgb(101,101,101)}
span#textcolor189{color:rgb(101,101,101)}
span#textcolor190{color:rgb(101,101,101)}
span#textcolor191{color:rgb(101,101,101)}
span#textcolor192{color:rgb(101,101,101)}
span#textcolor193{color:rgb(101,101,101)}
span#textcolor194{color:rgb(101,101,101)}
span#textcolor195{color:rgb(101,101,101)}
span#textcolor196{color:rgb(101,101,101)}
span#textcolor197{color:rgb(101,101,101)}
span#textcolor198{color:rgb(101,101,101)}
span#textcolor199{color:rgb(63,127,127)}
span#textcolor200{color:rgb(101,101,101)}
span#textcolor201{color:rgb(101,101,101)}
span#textcolor202{color:rgb(63,127,127)}
span#textcolor203{color:rgb(63,127,127)}
span#textcolor204{color:rgb(63,127,127)}
#TBL-22 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-22{border-collapse:collapse;}
#TBL-22 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-22{border-collapse:collapse;}
#TBL-22 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-22{border-collapse:collapse;}
#TBL-22 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-22{border-collapse:collapse;}
#TBL-22 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-22{border-collapse:collapse;}
#TBL-22 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-22{border-collapse:collapse;}
#TBL-23 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-23{border-collapse:collapse;}
#TBL-23 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-23{border-collapse:collapse;}
#TBL-23 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-23{border-collapse:collapse;}
#TBL-23 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-23{border-collapse:collapse;}
span#textcolor205{color:rgb(101,101,101)}
span#textcolor206{color:rgb(101,101,101)}
span#textcolor207{color:rgb(101,101,101)}
span#textcolor208{color:rgb(0,127,0)}
span#textcolor209{color:rgb(101,101,101)}
span#textcolor210{color:rgb(101,101,101)}
span#textcolor211{color:rgb(101,101,101)}
span#textcolor212{color:rgb(101,101,101)}
span#textcolor213{color:rgb(101,101,101)}
span#textcolor214{color:rgb(101,101,101)}
span#textcolor215{color:rgb(186,33,33)}
span#textcolor216{color:rgb(101,101,101)}
span#textcolor217{color:rgb(0,127,0)}
span#textcolor218{color:rgb(101,101,101)}
span#textcolor219{color:rgb(101,101,101)}
span#textcolor220{color:rgb(101,101,101)}
span#textcolor221{color:rgb(101,101,101)}
span#textcolor222{color:rgb(101,101,101)}
span#textcolor223{color:rgb(101,101,101)}
/* end css.sty */

